
.Work {

    background-color: rgb(195, 137, 137);
}


.Gridskills {


background-color:khaki
}

/* .jumbotron img {

    border: 10px solid rgb(68, 0, 255);
} */

.footer {

    background-color: #e3f2fd;
}